<header class="fixed-top page-header">
    <div class="container-fluid container-fluid-max">
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">EveryoneCanContribute</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ .Site.BaseURL }}page/about" rel=”noopener noreferrer”>About</a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{{ .Site.BaseURL }}">Blog<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="{{ .Site.BaseURL }}page/handbook" rel=”noopener noreferrer”>Handbook</a>
        </li>        

        <li class="nav-item active">
          <a class="nav-link" href="https://twitter.com/i/lists/1297825724976508928" rel=”noopener noreferrer”>Twitter</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Youtube
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" target="_blank" rel=”noopener noreferrer” href="https://www.youtube.com/playlist?list=PL05JrBw4t0Ko8J8V5V794CXZUZ-DLxccI">Kaeffchen (German)</a>
            <a class="dropdown-item" target="_blank" rel=”noopener noreferrer” href="https://www.youtube.com/playlist?list=PL05JrBw4t0Kp1Gni9SyudMmXmBJIp7rIc">Cafe (English)</a>
            <a class="dropdown-item" target="_blank" rel=”noopener noreferrer” href="https://www.youtube.com/channel/UCMtZ0sc1HHNtGGWZFDRTh5A">Live</a>
          </div>
        </li>

        <li class="nav-item active">
          <a class="nav-link" href="https://anchor.fm/everyonecancontribute" target="_blank" rel=”noopener noreferrer”>Podcast</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Join
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" target="_blank" rel=”noopener noreferrer” href="https://discord.gg/HJPxUGdd9F">Discord</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  </header>
