<footer class="py-4 page-footer">
    <div class="container-fluid container-fluid-max">
        <div class="row align-items-end">
            <div class="col-8 col-md-5 footer-child copyright">
               EveryoneCanContribute © 2020
            </div>
            
            <div class="col-8 col-md-3 link-list-footer">
                <span class="label">Resources</span>
                <ul>
                    <li><a class="effect-underline" href="https://everyonecancontribute.dev">Demo</a></li>
                </ul>
            </div>
            <div class="col-8 col-md-4 footer-child footer-links">
                <div>
                    <small>Made with <i class="fas fa-heart text-red"></i> by <a href="https://chaosjolo.gitlab.io/" target="_blank" rel=”noopener noreferrer”>Johanna Kleinsasser</a>
          </small>
                </div>
            </div>
        </div>
    </div>
</footer>

    
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="/main.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
<!-- MermaidJS support -->
<script src="https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        flowchart: { useMaxWidth:true }
    });
    window.onload = function() {
        mermaid.init(undefined, ".language-mermaid");
    };
</script>
<script src="/prism.js"></script>