{{ partial "html-header.html" . }}

<body data-spy="scroll" data-target="#navbar" data-offset="72" class="position-relative">
    
    {{ partial "theme-header.html" . }}

    <main>

        {{ partial "theme-landing.html" . }}

        <section id="blog" class="py-4 blog">
            <div class="container-fluid container-fluid-max">

                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 py-3 text-center">
                        <h2 class="mb-0 text-red">{{ .Title }}</h2>
                        {{if isset .Params "subtitle" }}
                            <p class="mb-0 text-red font-weight-normal">{{ index .Params "subtitle" }}</p>
                        {{ end }}  
                        <div id="content-text" class="text-justify">
                            {{ .Content }}
                        </div>
                        <div class="text-justify">
                            {{ partial "authorbio.html" . }}
                            Date published: {{ .PublishDate.Format "January 2, 2006" }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                </div>

            </div>
        </section>
    </main>

    {{ partial "theme-footer.html" . }}

</body>

</html>
