{{ partial "html-header.html" . }}
<!-- <body data-spy="scroll" data-target="#navbar" data-offset="72" class="position-relative"> -->
<body data-target="#navbar" data-offset="72" class="position-relative">
    
    {{ partial "theme-header.html" . }}

    <main>

        {{ partial "theme-landing.html" . }}
        {{ .Site.Menus.main }}
        <section id="blog" class="py-4 blog">
            <div class="container-fluid container-fluid-max">

                {{ $paginator := .Paginate  (where .Site.Pages "Type" "post")}}

                {{ range $paginator.Pages }}
                {{ if .Params.Authors }}
                <div class="row justify-content-center">
                    <div class="col-12 col-md-auto py-3 text-center">
                        <h2 class="mb-0 text-red"><a class="headlineUnderline" href={{ .Permalink }}>{{ .Title }}</a></h2>
                        {{if isset .Params "subtitle" }}
                            <p class="mb-0 text-red font-weight-normal">{{ index .Params "subtitle" }}</p>
                        {{ end }}  
                        <div id="content-text" class="text-justify">
                            {{ .Summary }}
                            {{ if .Truncated }}
                                <a class="effect-underline" href="{{ .RelPermalink }}">Read More…</a><br><br>
                            {{else }}
                                <br><br>
                            {{ end }}
                        </div>
                        <div class="text-justify">
                            {{ partial "authorbio.html" . }}
                            Date published: {{ .PublishDate.Format "January 2, 2006" }}
                        </div>
                    </div>
                </div>
                <hr>
                {{ end }}
                {{ end }}
                <div class="row justify-content-center">
                {{ template "_internal/pagination.html" . }}
                </div>

            </div>
        </section>
    </main>

    {{ partial "theme-footer.html" . }}

</body>

</html>
